.custom-jumbotron{
    background-color: #343a40; 
    text-align: center;
    color: white;
    height: 50px;
    justify-content: center;
}

.custom-card{
    background-color:#343a40;
    color: white;
    
}

.low{
    background-color: green;
    border-radius: 3px;
}

.medium{
    background-color: yellow;
    border-radius: 3px;
}

.high{
    background-color: red;
    border-radius: 3px;
}
